/*font-family: 'Ubuntu', sans-serif;*/

* {
	margin: 0;
	padding: 0;
}

:root {
	--animate-duration: 2s;
}

html {
	scroll-behavior: smooth;
}

.fip {
	background: url("./images/fon.jpg") center / cover no-repeat;
	padding-bottom: 5vw;
}

.header {
	display: flex;
	padding: 0.3vw 0;
	align-items: baseline;
}

.menu {
	margin-left: auto;
	text-transform: uppercase;
	display: inline;
	align-items: center;
}

.menu a {
	color: black;
	text-decoration: none;
	font-family: "GothamPro";
	font-size: 1.3vw;
	margin-right: 5.3vw;
}

.logo {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3vw;
	margin-left: 1.6vw;
}

.box {
	color: white;
	margin-top: 6.5vw;
	margin-left: 3.65vw;
	text-shadow: 0 0 3em black;
}

.quote {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.4vw;
	font-weight: 700;
	font-style: italic;
	width: 83.3vw;
}

.author {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.75vw;
	font-weight: 1000;
	width: 17.7vw;
	margin-left: auto;
	margin-right: 5.2vw;
}

.sep {
	width: 90vw;
	margin: 0 auto;
}

.box1 {
	display: flex;
	align-items: center;
}

.box1 .selfie img {
	width: 24vw;
}

.tx {
	font-size: 2.083vw;
	font-family: "GothamPro";
}

.tx p {
	margin-bottom: 1.2vw;
}

.text1 {
	width: 67.7vw;
}

.thip {
	width: 90vw;
	margin: 0 auto;
}

.bas-soz {
	font-size: 5.2vw;
	text-transform: uppercase;
	font-family: "Gotham Pro";
	font-weight: bold;
	text-align: center;
	margin-bottom: 3.64vw;
}

.box3 {
	display: flex;
	align-items: center;
}

.landing-suret img {
	width: 22.5vw;
}

.landing-suret {
	margin-left: auto;
}

.text2 {
	width: 62.5vw;
}

.maimaq {
	font-family: "GothamProBold";
}

.box4 {
	width: 83.3vw;
}

.box4 ol {
	margin-top: 1vw;
	margin-left: 5.5vw;
}

.box4 ol li {
	margin-top: 0.5vw;
}

.fop {
	width: 90vw;
	margin: 0 auto;
}

.box5 {
	display: flex;
	align-items: center;
}

.text3 {
	width: 67.7vw;
}

.text3 a {
	color: black;
}

.port-suret img {
	width: 22.5vw;
}

.port-suret {
	margin-right: 2.86vw;
}

.box6 {
	margin-top: 4.68vw;
}

.content {
	margin-bottom: 7vw;
}


footer {
	background: black;
	display: flex;
}

.contacts {
	padding-top: 2.08vw;
	margin-left: 3.385vw;
}

.contacts li {
	font-family: "GothamPro";
	margin-bottom: 0.7vw;
	font-weight: 100;
	font-size: 1.5vw;
}

.contacts li:last-child {
	margin-bottom: 0;
	padding-bottom: 2.08vw;
}

.contacts li a {
	color: white;
	text-decoration: none;
}

.auth {
	color: white;
	margin-left: auto;
	margin-right: 0.5vw;
	margin-top: auto;
	font-family: "GothamProBlack";
	font-size: 3.125vw;
}
